body{
    background: white;
    color: white;
}

.stopwatch{
    width: 90%;
    max-width: 600px;
    background-image: url(images/peacefulbackground.PNG);
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 100px;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgb(209, 202, 208);
}

h1{
    font-size: 70px;
}

.buttons{
    font-size: 40px;

}

.stop, .play, .reset{
    color: white;
}

.play{
    font-size: 70px;
    margin-left: 15px;
    margin-right: 15px;
}